.navbar {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ece8caed;
  padding: 1rem 2rem;
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.bookmark-button {
  margin-left: auto;
}


.bookmark-overlay {
  position: absolute;
  top: 100%; 
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Make sure it's above other content */
}
